
mixin select(arr, id)
    select(id= id)
        each val in arr
            option= val

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(href='css/main.css' rel='stylesheet')
    link(href='css/jquery.wizzy.css' rel='stylesheet')
    link(rel='stylesheet' href='./css/nice-select.css')
    link(rel="stylesheet" href="./css/datepicker.min.css")
    link(rel="stylesheet" href="./css/intlTelInput.css")
    link(rel='stylesheet' href='./editionalStyle.css')
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
.wz-wrapper.wizzy
    .wz-inner
        .popup(onclick="myFunction()")
            span(class="popuptext" id="myPopup")
                .popup-top
                    img(src="img/popup-smile.png" alt="edu-vienna")
                    .popup-top-text-container
                        p.popup-bold-text Александр Соловых
                        p.popup-light-text Директор Education in Vienna
                .popup-bottom Whether its a driving tour, a cruise or a bus, leaf viewing is a great way to spend a fall vacation. a great way to spend a fall vacation. great way to spend
        .wz-body

            .wz-step
                h3.quiz-header Данную анкету заполняет:
                .check-box-container
                    input#abiturient.input-hidden.wizard-check-btn(type='radio' name='emotio' checked)
                    .check-box-img
                        span.circle
                        label(for='abiturient' class="wizard-check-description")
                            img(src='./img/abiturient.png' alt="I'm sad")
                            span Абируриент
                    input#parent.input-hidden.wizard-check-btn(type='radio' name='emotio')
                    .check-box-img
                        span.circle
                        label(for='parent' class="wizard-check-description")
                            img(src='./img/parent.png' alt="I'm happy")
                            span Родитель
            .wz-step
                h3.quiz-header Меня интересует учебное направление:
                +select(['Архитектура и строительство',
                    'Естественные науки',
                    'Здоровье и спорт',
                    'Искусство, культура и СМИ',
                    'История, общество и политика',
                    'Компьютерные науки и технологии',
                    'Математика',
                    'Машиностроение',
                    'Медицина',
                    'Образование, философия и религия',
                    'Право',
                    'Психология',
                    'Экономика и бизнес',
                    'Языки и культуры',
                    'Другое'
                    ])
            .wz-step
                .with-wizard-textarea
                    h3.quiz-header Желаемая специальность:
                    textarea(
                    name="", 
                    cols="30", 
                    rows="10",
                    class="wiazrd-textarea"
                    )

            .wz-step
                h3.quiz-header Степень образования: 
                div.wizard-small-header Выберете один из предложенных вариантов
                .check-box-btn-container
                    input#bakalavr.input-hidden.wizard-check-img(type="radio" name='emotions' checked)
                    div
                        label(for='bakalavr')
                            div.bakalavr-btn Бакалавр
                    input#magistr.input-hidden.wizard-check-img(type="radio" name='emotions')
                    div
                        label(for='magistr')
                            div.magistr-btn Магистратура
            .wz-step
                h3.quiz-header Меня интересует учебное направление:
                +select(['01.02.2020',
                    '01.09.2020',
                    '01.02.2021',
                    '01.09.2021',
                    '01.02.2022',
                    '01.09.2022',
                    'Не знаю',
                    ], 'wizard-select-2')
            .wz-step
                h3.quiz-header На каком языке хотели бы учиться?
                +select(['Только на немецком языке',
                    'Только на английском языке',
                    'Подходит и немецкий, и английский язык',
                    ], 'wizard-select-3')
            .wz-step
                h3.quiz-header В какой ВУЗ Вы хотите поступить?
                +select(['Не определился',
                    'Вeнcкий Главный Унивepcитeт',
                    'Вeнcкий Экономический Унивepcитeт',
                    'Вeнcкий Медицинский Унивepcитeт',
                    'Вeнcкий Технический Унивepcитeт',
                    'Вeнcкий Ветеринарный Унивepcитeт',
                    'Вeнcкий Аграрный  Унивepcитeт',
                    'Венский университет прикладных искусств',
                    'Венская академия изобразительных искусств',
                    'Венский Университет музыки и исполнительского искусства',
                    'Университет Зигмунда Фрейда',
                    'Webster',
                    'Университет MODUL',
                    'Бизнес школа Lauder',
                    'Грац главный университет Карла и Франца',
                    'Грац Технический университет',
                    'Грац Медицинский университет',
                    'Грац Университет прикладных наук Joanneum',
                    'Грац Университет искусств',
                    'Университет Кеплера',
                    'Университет искусств в Линце',
                    'Университет прикладных наук Krems',
                    'Дунайский университет',
                    'Университет прикладных наук Kufstein',
                    'Международный колледж туризма и менеджмента',
                    'Горный университет Leoben',
                    'Инсбрук Университет имени Леопольда и Франца',
                    'Инсбрук Медицинский университет',
                    'Инсбрук Университет менеджмента',
                    'Университет Зальцбурга',
                    'Зальцбург Университет прикладных наук',
                    'Зальцбург Консерватория',
                    'Зальцбург Бизнес школа',
                    'Частный медицинский университет Paracelsus',
                    'Другой'
                    ], 'wizard-select-4')
            .wz-step
                h3.quiz-header По стоимости учебы я рассматриваю:
                +select(['только государственные ВУЗы <span class="wizard-red-text">(746€ в семестр)</span>',
                    'частные ВУЗы <span class="wizard-red-text">(от 7.500€ в семестр)</span>',
                    'Рассмотрю все варианты',
                    ], 'wizard-select-5')
            .wz-step
                h3.quiz-header Мне подходит жильё следующей категории:
                +select(['<span>2-х местное (санузел и кухня в блоке на несколько комнат)</span> — <span class="wizard-red-text">от 280€</span>',
                    '2-х местное (индивидуальный санузел и кухня) — <span class="wizard-red-text">от 320€</span>',
                    'Одноместное (санузел и кухня в блоке на несколько комнат) — <span class="wizard-red-text">от 400€</span>',
                    'Одноместное (индивидуальный санузел и кухня) — <span class="wizard-red-text">от 550€</span>',
                    'Апартаменты <span class="wizard-red-text">от 750€</span>',
                    ], 'wizard-select-6')
            .wz-step
                h3.quiz-header На учебу и проживание в Австрии я планирую тратить:
                +select(['до 500€/месяц - до 6.000 в год',
                    'до 800€/месяц - до 9.600 в год',
                    '850-1.200€/месяц - 10.-14.000 в год',
                    '1.250-1.500€/месяц - 15.-18.000 в год',
                    'больше 1.500€/месяц - от 18.000 в год',
                    ], 'wizard-select-7')
            .wz-step
                h3.quiz-header Официальный доход семьи:
                +select(['ниже 1.000 € в месяц',
                    '1.000 - 2.000€ в месяц',
                    '2.000 - 3.000€ в месяц',
                    'выше 3.000€ в месяц',
                    ], 'wizard-select-8')
            .wz-step
                h3.quiz-header Учеба в школе
                +select(['Учусь в школе: 9-й класс или ниже',
                    'Учусь в школе: 10-й класс',
                    'Учусь в школе: 11-й класс',
                    'Получен аттестат о полном среднем образовании (11 классов)',
                    ], 'wizard-select-9')
            .wz-step
                h3.quiz-header Страна выдачи школьного аттестата
                +select(['РФ',
                    'Европейский Союз',
                    'Украина',
                    'Беларусь',
                    'Казахстан',
                    'Армения',
                    'Узбекистан',
                    'Азербайджан',
                    'Грузия',
                    'Таджикистан',
                    'Кыргызстан',
                    'Туркменистан',
                    'Другое'
                    ], 'wizard-select-10')
            .wz-step
                h3.quiz-header Учеба в университете
                +select(['Не учусь в университете',
                    'Учусь в университете - 1-й курс',
                    'Учусь в университете - 2-й курс',
                    'Учусь в университете - 3-й курс',
                    'Учусь в университете - 4-й курс',
                    'Учусь в университете - 5-й курс',
                    'Получен диплом бакалавра',
                    'Получен диплом специалиста/магистра',
                    ], 'wizard-select-11')
            .wz-step
                h3.quiz-header Знание немецкого языка
                +select(['Нулевой',
                    'А1',
                    'А2',
                    'B1',
                    'B2',
                    'C1',
                    'Уровень не известен',
                    ], 'wizard-select-12')
            .wz-step
                h3.quiz-header Знание английского языка
                    +select(['Ниже B2 - IELTS 6.0 - TOEFL 87',
                        'B2 - IELTS 6.0 - TOEFL 87',
                        'C1 - IELTS 7.0 - TOEFL 100',
                        'Уровень не известен',
                        ], 'wizard-select-13')
            .wz-step
                h3.quiz-header Дата рождения абитуриента
                .wizard-calendar-container
                    input(data-toggle="datepicker" id='birthday' placeholder="dd/mm/yyyy")
                    img(src='./img/Calendar.png')
            .wz-step
                h3.quiz-header Гражданство
                    +select(['РФ',
                        'Европейский Союз',
                        'Украина',
                        'Беларусь',
                        'Казахстан',
                        'Армения',
                        'Узбекистан',
                        'Азербайджан',
                        'Грузия',
                        'Таджикистан',
                        'Кыргызстан',
                        'Туркменистан',
                        'Другое'
                        ], 'wizard-select-14')
            .wz-step
                h3.quiz-header Имя, Фамилия абитуриента
                .wizard-tel-container
                    input(
                        placeholder= "Боря Моисеев"
                        type= "text"
                        class= "tel"
                        id= "wizard-name"
                    )
            .wz-step
                h3.quiz-header Номер телефона абитуриента
                .wizard-tel-container
                    <input class="tel" placeholder="Введите номер"  id="telephone">
            .wz-step
                h3.quiz-header E-mail абитуриента
                .wizard-tel-container.wizard-tel-container-email
                    input(
                        placeholder= "youremail@gmail.com"
                        id= "emailInput"
                        type= "email"
                        class= "tel"
                    )

                    .wizard-private-policy-container
                        input#private-policy.input-hidden(type='checkbox')
                        div
                            label(for='private-policy' id="wizard-private-policy-label")
                                div.wizard-policy-checkbox
                                span C
                                a(href="#") политикой конфиденциальности
                                span ознакомлен(а)
            .wz-step
                .wizard-final-container
                    .wizard-final-left
                        .wizard-thanks
                            span.wizard-thanks-header Cпасибо
                            img(src="./img/wizard-hi.png")
                        .wizard-thanks-text Благодарим за Вашу заявку. Пока данные обрабатываются, Вы можете бесплатно скачать нашу заметку: "7 важнейших шагов для поступления в Австрию"
                        .wizard-thanks-btn
                            a(href="./7_shagov_dlya_postupleniya_v_avstriyu.pdf" download="7 Важнейших шагов") Cкачать
                        .wizard-thanks-footer Education in Vienna
                    .wizard-final-right
                        img(src="./img/7steps.png" alt="7 важных шагов для поступления в Австрию")

        .wizard-footer
            .wz-header
                div
                    span.wizard-ready-btn
                        |Готово:
                    span#counter
                        |
                nav
                    - let progress = 1
                    while progress < 23
                        a(href="#")
                        - progress++;
            .wz-navigator
script.
    var popup = document.getElementById("myPopup");
    function myFunction() {
        popup.classList.toggle("show")
    }
    document.body.addEventListener('click', function(e) {
        if(popup.classList.value.includes('show') && e.target.className != 'popup') {
            popup.classList.remove('show')
        }
    })
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='./js/jquery.wizzy.js')
script(src='./js/script.js')
script(src='./js/jquery.nice-select.min.js')
script(src='./js/datepicker.js')
script(src='./js/intlTelInput-jquery.js')
script(src="./js/jquery.caret.js")
script(src="./js/jquery.mobilePhoneNumber.js")
script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js")
script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js")
<script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.11/dist/jquery-input-mask-phone-number.js"></script>


script.
    $(document).ready(function() {
        $('select').niceSelect();
        $('[data-toggle="datepicker"]').datepicker({
            autoHide: true,
        });
        $("#telephone").intlTelInput({
            separateDialCode: true,
            formatOnDisplay:true,
            initialCountry:"ua",
            onlyCountries: ['ua', 'ru', 'de', 'au', 'by', 'kz', 'uz', 'az', 'am', 'ge', 'kg', 'tm', 'tj'],
        });
        var input = $('[type=tel]')
            input.mobilePhoneNumber({allowPhoneWithoutPrefix:'+1'});
            input.bind('country.mobilePhoneNumber',function(e, country) {
            $('.country').text(country ||'')
        })
        jQuery.validator.setDefaults({
            success: "valid"
        });
        $("#emailInput").validate({
            rules: {
                field: {
                    required: true,
                    email: true
                }
            }
        });

        //- $('#yourphone').usPhoneFormat({
        //-     format: '(xxx) xxx-xxxx',
        //- });

    });

    1
    $(function(){
        $('#telephone').usPhoneFormat({
            format:'(xxx) xxx-xxxx'
        });
    });



